/* form stlying */
#order-tracking-form {
    width:500px;
     height:auto;
     border:1px solid lightgray;
     padding: 20px;
     
	   border-radius:10px;
 }
 #order-tracking-form p {
	 margin: 0px;
}

        #order-tracking-form input[type="text"],
        #order-tracking-form input[type="email"] {
           width: 100%;
           padding: 10px;
		margin: 0px;
		border-radius: 15px;
			cursor: auto;
        }
        
        #order-tracking-form input[type="submit"]{
            width: 100%;
            padding:10px 20px;
            border-radius:5px;
					color: white;
					border: none;
					text-align: center;
					background-color:#6f8db0;
        }
#order-tracking-form input[type="submit"]:hover{
	background-color:#6f8db0;
}
